.friendrow {
    display: flex;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.6)
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
}
